.container {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr 1fr;
  width: 100vw;
  height: 100vh;
}
.container > div {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}
.container > div.header {
  grid-area: header;
  text-align: center;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container > div.menu {
  grid-area: menu;

}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  width: 100%;
  grid-area: footer;
}