@import "tailwindcss";
.container1 {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "menu footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr 1fr;
  width: 100vw;
  height: 100vh;
}
.container1 > div {
  border: 1px solid black;
  background-color: white;
}
.container1 > div.header {
  grid-area: header;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container1 > div.menu {
  grid-area: menu;
}
.container1 > div.content {
  grid-area: content;
}
.container1 > div.footer {
  grid-area: footer;
}
.headerp1{
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}